.student-page{
  .btn{
    background: #605fbd;
    &:active{
      background: #6c6bbd;
    }
  }
  .color-font{
    color:#605fbd;
  }
  .height-fixed{
    width: 100%;
    height:50%;
  }
  .num{
    font-style: italic;
  }
  .weui-label.student-prove{
    height:24px;
    line-height: 34px;
  }
  .cell-border{
    border-bottom: 1px dashed #ddd;
    margin: 0;
    padding: 15px 5px;
  }
  .weui-label{
    line-height: 55px;
  }
  .font-color{
    color: #444;
  }
  .change-upload {
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 500;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0;
  }
  .detail-img{
    width: 45px;
    height: 45px;
    float: right;
    margin: 2px 5px;
  }
  .btn-min{
    width: 40%;
    color: #fff;
    background: #605fbd;
    border-radius: 5px;
    line-height: 46px;
    font-size: 18px;
    text-align: center;
    float: left;
    font-family: "Microsoft YaHei", "\5b8b\4f53", "Arial", "Helvetica", "sans-serif";
    height: 46px;
    margin-left: 7%;
  }
  .btn-min-gray{
    background: #979797;
  }
  .input-box{
    text-align: right;
    float: right;
    height: 55px;
    width: 100%;
    font-size: 16px;
    border: 0;
    color: #444;
    outline: none;
    background: transparent;
  }
  .input-box-padding{
    padding-right: 20px;
  }
  .padding-min{
    padding-top: 5px;
  }
  .choice{
    line-height: 55px;
    cursor: pointer;
  }
  .weui-uploader__files{
    width: 100%;
  }
  .img-uploader-box{
    margin: 0 auto;
    border: 5px solid #FFFFFF;
    background: #ddd;
    height: 45px;
    width: 45px;
    position: relative;
    top: 0;
    right: 0;
    flex: 0 0 45px;
  }
  .check-img{
    width: 45px;
    height: 45px;
    margin: 5px;
    float: right;
  }
  .nocard-title{
    background: #605fbd;
  }
  .white-position{
    overflow: hidden;
    width: 86%;
    height: 75px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: -2px 0 0 #fff, 0 0 0 #fff, 0 2px 12px #e4e3f5, 2px 0 0 #fff;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    left:7%;
  }
  .rent-head-height{
    height: 110px;
  }
  .num-center{
    cursor: pointer;
  }
  .purple-font{
    color: #605fbd;
  }
  .gray-font{
    color: #666;
  }
  .list{
    width: 90%;
    margin: 0 5%;
    border-bottom: 1px dashed #ddd;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
  }
  .number{
    float: left;
    width: 11%;
    text-align: center;
    line-height: 60px;
    color: #999;
    font-style: italic;
    font-family: 黑体;
    font-size: 16px;
  }
  .number-line-height{
    line-height: 30px;
  }
  .list-news{
    float: left;
    width: 88%;
  }
  .list-box{
    margin-top: 25px;
  }
  .time-color{
    color: #999;
    font-family: 黑体;
    width: 67%;
    float: left;
    text-align: right;
    font-size: 14px;
  }
  .name-color{
    color: #5f60bd;
    font-weight: 900;
    font-size: 17px;
    width: 33%;
    float: left;
  }
  .name-color-line{
    line-height: 26px;
  }
  .label-line-height{
    line-height: 50px;
  }
  .cell-border-padding{
    padding: 10px 5px;
  }
  .choice-problem{
    color: #444;
    font-weight: 900;
    width: 90%;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
  }
  .problem{
    float: left;
    width: 50%;
    color: #444;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px dashed #ddd;
  }
  .check-problem,.check-problems{
    width: 18px;
    height: 18px;
    float: left;
    margin: 13px 10px 5px 2px;
    outline: none;
  }
  .check-problem-margin{
    margin: 5px 10px 5px 2px;
  }
  .problem-word{
    float: left;
    color: #333;
  }
  .text-area{
    width: 86%;
    margin: 0 5%;
    border-radius: 5px;
    border: 1px solid #b5b5b5;
    font-size: 16px;
    padding:5px 2%;
    font-family: "Microsoft YaHei", "\5b8b\4f53", "Arial", "Helvetica", "sans-serif";
  }
  .draw-time-title{
    float: left;
    color: #444;
    font-weight: 900;
    margin: 5px;
  }
  .time-title{
    float: left;
    color: #444;
    font-weight: 900;
  }
  .draw-time{
    float: left;
    width: 70%;
    height: 34px;
    line-height: 34px;
    border: 1px solid #605fbd;
    border-radius: 5px;
    padding: 0 5px;
  }
  .draw-time-box{
    width: 90%;
    margin: 15px auto 2px;
    overflow: hidden;
  }
  .time-box{
    float: left;
    width: 100%;
    color: #444;
  }
  .time-top{
    width: 90%;
    margin: 20px 5% 0;
    position: relative;
  }
  .all-choice-check{
    width: 18px;
    height: 18px;
    float: left;
    margin: 12px 5px 0  7%;
    outline: none;
  }
  .choice-top{
    margin-top: 8px;
  }
  .btn-right{
    width: 45%;
    background: #605fbd;
    margin-right: 7%;
  }
  .time-top-title{
    margin: 15px 10px 5px;
  }
  .position-choice{
    background: #605fbd;
  }
  .choice-img{
    width: 24px;
    margin: 14px 0 0 14px;
  }
  .filtrate{
    .filtrate-header{
      background: #605fbd;
    }
    .choice-after {
      border: 1px dashed #605fbd;
      color: #605fbd;
      background: transparent;
    }
    .cover-blue{
      color:#999 ;
      display: block;
      font-weight:700;
    }
    .choice-title{
      color:#605fbd ;
      font-weight: 900;
    }
    .imported-left{
      color: #605fbd;
      width: 15%;
      text-align: center;
      margin: 0 0 0 20px;
      float: left;
      height: 46px;
      line-height: 46px;
    }
    .btn-bg{
      background: #605fbd;
      width: 65%;
      margin: 0 20px 0 0;
      float: right;
      text-align: center;
      font-family: "Microsoft YaHei", "\5b8b\4f53", "Arial", "Helvetica", "sans-serif";
      color: #fff;
      &:active{
        background: #605fbd;
      }
    }
  }
  .header-time{
    font-size: 16px;
    margin-left: 10px;
  }
  .img-size{
    height: 150px;
    margin: 10px 0 10px 20px;
    float: left;
  }
  .img-box{
    overflow: hidden;
  }
  .img-title{
    width: 100%;
  }
  .center-img{
    width:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .weui-dialog__btn_primary{
    color: #605fbd;
  }
  .name-margin{
    margin: 10px;
  }
  .weui-dialog__bd{
    padding: 0 3.6em 0.8em;
    font-size: 16px;
  }
  .weui-gallery{
    z-index: 3000;
  }
  .text-place{
    height: 30px;
    border: 0;
    width: 98%;
    line-height: 30px;
    font-size: 16px;
    outline: none;
  }
  .center-box-detail{
    height: 90%;
  }
  .height-fixed-min{
    height: 50px;
    weight:100%;
  }
  .inform-empty-box{
    margin: 40px auto;
  }
  .weui-loadmore{
    height: 50px;
    line-height: 50px;
    padding: 10px 0;
    display: block;
  }
  .center-height{
    height: 75%;
  }
  .center-height-min{
    height: 67%;
  }
  .fixed-box{
    width: 100%;
    height: 80px;
  }
  .weui-uploader__input{
    z-index: 9999;
  }
  .empty-input{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 0;
    top: 31px;
    cursor: pointer;
  }
  .float-li-border{
    float: left;
    border-bottom: 1px dashed #ddd;
  }
  .list-all-checkbox{
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
  }
  .checkbox {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 0;
  }
  .checkbox + label {
    background: #fff;
    border: 1px solid #605fbd;
    border-radius: 2px;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 2px;
  }
  .checkbox:checked + label{
    background: url(images/checked.png) #605fbd no-repeat center center;
  }
  .checkbox-left-num{
    margin-left: 30px;
  }
  .all-choice-check + label{
    background: #fff;
    border: 1px solid #605fbd;
    border-radius: 2px;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 26px;
    left: 7%;
  }
  .all-choice-check:checked + label{
    background: url(images/checked.png) #605fbd no-repeat center center;
  }
  .check-problem-margin + label{
    background: #fff;
    border: 1px solid #605fbd;
    border-radius: 2px;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 2px;
  }
  .check-problem-margin:checked + label{
    background: url(images/checked.png) #605fbd no-repeat center center;
  }
  .constent-box{
    text-indent: 2em;
  }
  .back-img{
    position: absolute;
    right: 0;
    top: 6px;
  }
  .outed{
    padding: 2px 7px;
    background: #ff5a54;
    color: #fff;
    font: 12px "Microsoft YaHei", "\5b8b\4f53", "Arial", "Helvetica", "sans-serif";
    border-radius: 30px;
    position: absolute;
    z-index: 999;
    top: 22px;
    right: 6px;
  }
  .choice-label{
    background: #fff;
    border: 1px solid #605fbd;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    display: inline-block;
    float: left;
    margin: 15px 10px 0 16%;
  }
  .label-checked{
    background: url(images/checked.png) #605fbd no-repeat center center;
  }
  .check-problems{
    display: none;
  }
  .phone-blue{
    color: #55A3E7;
  }
  .field-comment{
    color: #605fbd;
    font-size: 14px;
  }
  .school-name{
    font-size: 15px;
    color: #333;
    line-height: 20px;
    margin: 4px 0;
    float: left;
    width: 89%;
  }
  .school-icon{
    width: 17px;
    float: left;
    margin: 5px 2px 0 0;
  }
  .width-list-news{
    width: 75%;
    line-height: 30px;
  }
  .width-name{
    width: 100%;
  }
  .title-success{
    width: 100%;
  }
}