/* reset */

html, body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: "微软雅黑";
}

body{
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
}

ul{
    list-style: none;
}

body, .page {
    background-color: #FFFFFF;
}


/* lib */

.link{
    color: #1AAD19;
}


/* layout */

.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.page {
    background:#FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    z-index: 1; // fix 滑动几次后可滚动区域会卡住的问题
    &.js_show{
        opacity: 1;
    }
}

.page__hd {
    padding: 40px;
}

.page__bd {
    background: #FFFFFF;
}

.page__bd_spacing {
    padding: 0 15px;
}

.page__ft{
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    img{
        height: 19px;
    }
    &.j_bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.page__title {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}

.page__desc {
    margin-top: 5px;
    color: #888888;
    text-align: left;
    font-size: 14px;
}


/*  widget */

.page.home{
    @pageHomePadding: 20px;
    .page__intro-icon{
        margin-top: -.2em;
        margin-left: 5px;
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
    .page__title{
        font-size: 0;
        margin-bottom: 15px;
    }
    .page__bd{
        img{
            width: 30px;
            height: 30px;
        }
        li{
            margin: 10px 0;
            background-color: #FFFFFF;
            overflow: hidden;
            border-radius: 2px;
            cursor: pointer;
            &.js_show{
                .weui-flex{
                    opacity: .4;
                }
                .page__category{
                    height: auto;
                }
                .page__category-content{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            &:first-child{
                margin-top: 0;
            }
        }
    }
    .page__category{
        height: 0;
        overflow: hidden;
    }
    .page__category-content{
        opacity: 0;
        transform: translateY(-50%);
        transition: .3s;
    }
    .weui-flex{
        padding: @pageHomePadding;
        align-items: center;
        transition: .3s;
        //&:active{
        //    background-color: #ECECEC;
        //}
    }
    .weui-cells{
        margin-top: 0;
        &:before, &:after{
            display: none;
        }
    }
    .weui-cell{
        padding-left: @pageHomePadding;
        padding-right: @pageHomePadding;
        margin:0 12px;
        &:before{
            left: @pageHomePadding;
            right: @pageHomePadding;
        }
    }
}

.page.button {
    .page__bd {
        padding: 0 15px;
    }
    .button-sp-area {
        margin: 0 auto;
        padding: 15px 0;
        width: 60%;
    }
}

.page.cell {
    .page__bd {
        padding-bottom: 30px;
    }
}

.page.form {
    .page__bd {
        padding-bottom: 30px;
    }
}

.page.actionsheet{
    background-color: transparent;
}

.page.dialog {
    background-color: transparent;
    .page__bd {
        padding: 0 15px;
    }
}

.page.msg,
.page.msg_success,
.page.msg_warn {
    background-color: #FFFFFF;
}

.page.toast{
    background-color: #FFFFFF;
}

.page.panel {
    .page__bd{
        padding-bottom:20px;
    }
}

.page.article {
    background-color: #FFFFFF;
}

.page.icons {
    text-align: center;
    .page__bd {
        padding: 0 40px;
        text-align: left;
    }
    .icon-box{
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        i{
            margin-right: 18px;
        }
    }
    .icon-box__ctn{
        flex-shrink: 100;
    }
    .icon-box__title{
        font-weight: normal;
    }
    .icon-box__desc{
        margin-top: 6px;
        font-size: 12px;
        color: #888888;
    }
    .icon_sp_area {
        margin-top: 10px;
        text-align: left;
        i:before{
            margin-bottom: 5px;
        }
    }
}

.page.flex {
    .placeholder {
        margin: 5px;
        padding: 0 10px;
        background-color: #EBEBEB;
        height: 2.3em;
        line-height: 2.3em;
        text-align: center;
        color: #CFCFCF;
    }
}

.page.loadmore{
    background-color: #FFFFFF;
}

.page.layers{
    @layerBaseTransform: translateX(15px) rotateX(45deg) rotateZ(10deg) skew(-15deg);
    @layerStartPos: 120px;
    @layerSpacing: 80px;
    @layerSmallStartPos: 140px;
    @layerSmallSpacing: 60px;

    overflow-x: hidden;
    perspective: 1000px;
    .page__hd{
        @media only screen and (max-width: 320px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .page__bd{
        position: relative;
    }
    .page__desc{
        min-height: 1.6 * 3em;
    }
    .layers__layer{
        position: absolute;
        left: 50%;
        width: 150px;
        height: 266px;
        margin-left: -75px;
        box-sizing: border-box;
        transition: .5s;
        background: url(images/layers/transparent.gif) no-repeat center center;
        background-size: contain;
        font-size: 14px;
        color: #FFFFFF;
        span{
            position: absolute;
            bottom: 5px;
            left: 0;
            right: 0;
            text-align: center;
            transition: .5s;
        }
        &:last-child{
            span{
                color: #AAAAAA;
            }
        }
        &.j_hide{
            opacity: 0;
        }
        &.j_pic{
            span{
                color: transparent;
            }
        }
        @media only screen and (min-width: 375px) and (min-height: 603px) {
            width: 180px;
            height: 320px;
            margin-left: -90px;
        }
        @media only screen and (min-width: 414px) and (min-height: 640px) {
            width: 200px;
            height: 355px;
            margin-left: -100px;
        }
    }
    .layers__layer_popout{
        border: 1px solid rgba(203, 203, 203, .5);
        z-index: 4;
        &.j_transform{
            transform: @layerBaseTransform translateZ(@layerStartPos);
            @media only screen and (max-width: 320px) {
                transform: @layerBaseTransform translateZ(@layerSmallStartPos);
            }
        }
        &.j_pic{
            border-color: transparent;
            background-image: url(images/layers/popout.png);
        }
    }
    .layers__layer_mask {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 3;
        &.j_transform{
            transform: @layerBaseTransform translateZ(@layerStartPos - @layerSpacing);
            @media only screen and (max-width: 320px) {
                transform: @layerBaseTransform translateZ(@layerSmallStartPos - @layerSmallSpacing);
            }
        }
    }
    .layers__layer_navigation {
        background-color: rgba(40, 187, 102, 0.5);
        z-index: 2;
        &.j_transform{
            transform: @layerBaseTransform translateZ(@layerStartPos - 2 * @layerSpacing);
            @media only screen and (max-width: 320px) {
                transform: @layerBaseTransform translateZ(@layerSmallStartPos - 2 * @layerSmallSpacing);
            }
        }
        &.j_pic{
            background-color: transparent;
            background-image: url(images/layers/navigation.png);
        }
    }
    .layers__layer_content{
        background-color: #FFFFFF;
        z-index: 1;
        &.j_transform{
            transform: @layerBaseTransform translateZ(@layerStartPos - 3 * @layerSpacing);
            @media only screen and (max-width: 320px) {
                transform: @layerBaseTransform translateZ(@layerSmallStartPos - 3 * @layerSmallSpacing);
            }
        }
        &.j_pic{
            background-image: url(images/layers/content.png);
        }
    }
}

.page.searchbar{
    .searchbar-result {
        display: none;
        margin-top: 0;
        font-size: 14px;
        .weui-cell__bd{
            padding:2px 0 2px 20px;
            color:#666;
        }
    }
}

.page.actionsheet{
    overflow: hidden;
}

.page.picker{
    overflow: hidden;
}

.page.gallery{
    overflow: hidden;
}


/* animation */

@keyframes slideIn {
    from {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
}

.page.slideIn {
    animation: slideIn .2s forwards;
}

.page.slideOut {
    animation: slideOut .2s forwards;
}
.cell_fs{
    font-size: 14px;
    margin-top: 5px;

}
.cell-center{
    text-align: center;
}
.active{
    display: none;
}
.empty{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.prompt{
    position: fixed;
    z-index: 5000;
    width: 7.6em;
    top: 180px;
    left: 50%;
    margin-left: -3.8em;
    background: rgba(40,40,40,.75);
    text-align: center;
    border-radius: 5px;
    color: #fff;
    line-height: 1.6em;
    padding: 18px 10px;
    display: none;
}

.header-img{
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 60px;
    line-height: 60px;
    text-align: center;
    font: 16px/58px "微软雅黑" ;
    color: #FFFFFF;
    margin: 25px 20px 0 10px;
}
.border-cell{
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}
.head-img{
    width: 130px;
    height: 180px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: #ccc 0px 0px 10px;
    margin: auto;
}
.bd-center{
    text-align: center;
}
.bd-right{
    text-align: right;
    line-height: 26px;
    font-size: 16px;
}
.cell-border{
    border-bottom: 1px solid #ccc;
    //height: 45px;
    //line-height: 45px;
    margin: 0 30px;
    padding: 18px 5px;
}
.cells-border{
    height: 60px;
    line-height: 60px;
    margin: 0 30px;
}
.check-border{
    border-radius: 0;
    border-bottom:1px solid #ddd;
}
.bd-margin{
    margin-top: 13px;
}
.cell-margin{
    min-height:20px;
    height:auto;
    background: #FFFFFF;
    position: relative;
}
.cell-unleft{
    margin-left: 0;
}
.left-cell{
    margin-left: 20px;
}
.cell_bd_border{
    border-bottom:1px solid #DADADA;
    padding-bottom: 15px;
    margin-top: 10px;
}
.file-img{
    width: 130px;
    height: 180px;
    background:#eaeaea url("images/icon_pho.jpg") no-repeat;
    margin: 30px auto 10px;
    border-radius: 10px;
    box-shadow: #ccc 0px 0px 10px;
}
.file-li-img{
    width: 130px;
    height: 180px;
    border-radius: 10px;
    margin: auto;
}
.change-img{
    color: #999;
    text-align: center;
    line-height: 280px;
    font-size: 16px;
}
.head-image{
    width: 130px;
    height: 180px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: #ccc 0px 0px 10px;
    margin: 30px auto 10px;
}
.header-bg{
    font-family: "微软雅黑";
    background: url("images/index-bg.jpg");
    background-size:cover ;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    color: #FFFFFF;
    span{
        font-size: 18px;
    }
}
.weui-grids{
    margin-top: 30px;
}
.border-gray{
    border: 2px solid #b8b8b8;
    width:20px;
    height: 20px;
    position: absolute;
    left: 8px;
    top: 18px;
    border-radius: 20px;
}
.ft_width{
    width: 40px;
    position: relative;
}
.cell-top{
    margin: 20px 12px 0;
    padding: 8px 5px;
}
.police_list{
    margin-top: 0;
}
.bottom-cell{
    margin-bottom: 30px;
}
.bottom-cell-pad{
    margin-bottom: 75px;
}
.border-right-img{
    height: 82px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 12px;
}
.position-time{
    width: 14px;
    height: 14px;
    position: absolute;
    left: 35px;
    top:45px;
}
.weui-cell__ft{
    span{
        margin-left: 18px;
    }
}
.icon-go{
    width: 16px;
    float: right;
    margin-right: 5px;
}
.center-img{
    width:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.height-position{
    height:85px;
    width: 100%;
}
.page_y{
    overflow-y: scroll;
    height: 88%;
    overflow-x:hidden;
}
.page-list{
    overflow: hidden;
    font-family: "微软雅黑";
}
.btn{
    width: 90%;
    margin: 0 auto;
    background: #55a3e7;
    border-radius: 5px;
    display:block ;
    height: 46px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "微软雅黑";
    text-align: center;
    line-height: 46px;
    margin:auto;
    &:active{
        background: #4493d5;
    }
}
.button-box{
    width: 100%;
    padding-top:30px;
    background: #FFFFFF;
    height: 60px;
    .btn-bg{
        width: 40%;
    }
    .none-style{
        width: 40%;
        color: #ff5a54;
        background: #ff5a54;
        color: #FFFFFF;
        border-radius: 5px;
        font-size: 18px;
    }
}
.btn-box{
    width: 100%;
    padding-top:15px;
    background: #FFFFFF;
    //box-shadow:  0 -20px 40px #fff;
   border-top:1px solid #eee;
    position: absolute;
    height: 60px;
    bottom: 0;
    .two-box-btn{
        width: 90%;
        height: 46px;
        margin: 0 auto;
    }
}
.weui-gallery{
    z-index: 3000;
}
.error{
    background: #ffdfdf;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #d0b8b8;
    position: absolute;
    top:0;
    left: 0;
    z-index: 999;
    img{
        width: 25px;
        float: left;
        margin: 7px 2% 0 2%;
    }
    span{
        color:#666;
        float: left;
        font:16px/16px "微软雅黑";
        line-height: 40px;
    }
}
.no-data{
    width: 70%;
    margin:2.6em auto 1em;
    position: relative;
}
.no-data-news{
    position: absolute;
    left: 32%;
    top: -12px;
    color: #999;
    background: #FFFFFF;
}
.empty-box{
    height: 300px;
    width: 210px;
    margin: 70px auto;
    .empty-img{
        width: 210px;
        margin: auto;
    }
    .null-word{
        color: #666;
        font-size: 20px;
        font-family: '微软雅黑';
        text-align: center;
        line-height: 40px;
    }
    .null-word2{
        color: #999;
        font-size: 16px;
        line-height: 30px;
        font-family: '微软雅黑';
        text-align: center;
    }
}
.cell-y{
    overflow-y: scroll;
    overflow-x: hidden;
    height:100%;
    margin-bottom:10%;
}
.height-fixed{
    height: 30px;
}
.height{
    height: 60px;
}
.height-fixed-fire{
    height: 60px;
}
.cells-margin{
    margin-bottom: 30px;
}
.panel_none{
    padding-bottom: 0;
}
.initials{
    width:26px;
    font-size: 14px;
    line-height: 24px;
    padding-top: 2%;
    position: absolute;
    top:0;
    right:0;
    z-index: 999;
    text-align: center;
    color: #333;
}
.initials-top{
    top: 85px;
}
.sort_letter{
    height: 20px;
    line-height: 20px;
    padding-left: 25px;
    color:#787878;
    background: #f0f0f6;
    font-size: 14px;
}
.bg-box{
    margin-bottom: 70px;
}
.bg-box-bottom{
    margin-bottom: 100px;
}
.clear-data-box{
    font-family: "微软雅黑";
    overflow: hidden;
    .all-box{
        background: #FFFFFF;
    }
}
.all-num-box{
    width: 100%;
    height:40px;
    line-height: 50px;
    background:#FFFFFF;
    font-size: 16px;
    .all-number{
        float: left;
        padding-left: 2%;
    }
    .all-num{
        float: right;
        padding-right: 2%;
        color:#55a4e7;
        font-size: 24px;
        font-family: 黑体;
    }
}
.classification-box{
    background: #FFFFFF;
    width: 100%;
    margin-top:10px;
    border-top:10px solid #EEEEEE;
    min-height: 180px;
    .classification-box{
        width: 96%;
        margin: 0 auto;
        line-height: 50px;
    }
    .classification.box-height{
        height: 100%;
    }
    .classification{
        width: 96%;
        margin: 0 auto;
        overflow: hidden;
        font-size: 16px;
        height: 100px;
        overflow: hidden;
        padding-bottom: 20px;
        li{
            float: left;
            padding: 2px 10px;
            margin: 5px;
            cursor: pointer;
        }

    }
    }
.area-box{
    width: 100%;
    background: #FFFFFF;
    margin-top:10px;
    border-top:10px solid #EEEEEE;
    min-height: 180px;
    .area-box{
        width: 96%;
        margin: 0 auto;
        line-height: 50px;
    }
    .area{
        width: 96%;
        margin: 0 auto;
        overflow: hidden;
        font-size: 16px;
        padding-bottom: 20px;
        height: 100px;
        li{
            float: left;
            padding: 2px 10px;
            margin: 5px;
            cursor: pointer;
        }
    }
}
.fire-y {
    overflow-y: scroll;
    height: 80%;
    margin-bottom: 10%;
}
.leader-fire-y{
    overflow-y: scroll;
    height: 58%;
    //margin-bottom: 10%;
}
.choice-title{
    width: 94%;
    margin: 0 auto;
    line-height: 50px;
}
.cover-blue{
    font-size: 14px;
    color: #55a3e7;
    float: right;
    margin: 0 auto;
    height: 40px;
    text-align: right;
    display: none;
    cursor: pointer;
}
.white-border{
    border:1px dashed #FFFFFF;
}
.choice-after{
    border: 1px dashed #55a3e7;
    border-radius: 5px;
    background: #f5f5f5;
}
.page_choice{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 88%;
}
.btn-bg{
    width: 50%;
    margin: 0 30px 0 0;
    float: right;
    text-align: center;
    height: 46px;
    line-height: 46px;
    border-radius: 5px;
    background: #55a3e7;
    font-size: 18px;
    font-family: "微软雅黑";
    color: #FFFFFF;
    &:active{
        background: #4493d5;
    }
}
.imported-left{
    float: left;
    height: 46px;
    line-height: 46px;
    width: 30%;
    margin: 0 0 0 30px;
}
.imported-person{
    margin-top: 12px;
    width: 20px;
    height: 20px;
    margin-right: 5%;
}
.border-margin{
    margin-bottom: 25px;
}
.padding-cell{
    padding: 10px 0;
}
.input-margin{
    margin:0 10px;
    width: 90%;
}
.all-nums-box{
    width: 100%;
    height:130px;
    line-height: 50px;
    background:#FFFFFF;
    font-size: 16px;
    .all-number{
        width: 94%;
        margin:0 auto;
    }
    .all-num{
        width: 49%;
        float: left;
        text-align: center;
        .all-num-child{
            color: #55a4e7;
            font-size: 42px;
            font-family: '黑体';
        }
        .child-name{
            font-size: 16px;
            color: #999;
            line-height: 20px;
        }
    }
    .all-done-num{
        width: 50%;
        float: left;
        text-align: center;
        border-right: 1px solid #cdcdcd;
        .done-num-child{
            color: #f46c6c;
            font-size: 42px;
            font-family: '黑体';
        }
        .child-name{
            font-size: 16px;
            color: #999;
            line-height: 20px;
        }
    }
}
.type-blue{
    color:#55a4e7;
}
.type-red{
    color:#f46c6c;
}
.search-results{
    overflow: hidden;
    height: auto;
    min-height: 40px;
    line-height: 41px;
    padding: 0 12px;
    border-bottom:1px solid #EEEEEE ;
}
.search-results{
    .result-name{
        float: left;
    }
    .result-news{
        float: left;
        width: 50%;
    }
    .result-num{
        float: right;
        color: #CCCCCC;
        font-size: 12px;
    }
}
.num-right{
    float: right;
    font-size: 12px;
    color: #CCCCCC;
    line-height: 60px;
}
.title-list{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-bottom: 1px solid #DDDDDD;
}
.no-margin{
    margin:0;
}
.red-circle{
    display: block;
    width: 8px;
    height: 8px;
    background: #f46c6c;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.hint{
    position: fixed;
    z-index: 5000;
    width: 11.6em;
    min-height: 8.6em;
    top: 180px;
    left: 50%;
    margin-left: -5.8em;
    background: rgba(40,40,40,.75);
    text-align: center;
    border-radius: 5px;
    color: #fff;
    display: none;
    img{
        margin-top: 20px;
    }
}
.alert{
    position: fixed;
    z-index: 5000;
    width: 9.6em;
    min-height:5.6em;
    top: 180px;
    left: 50%;
    margin-left: -4.8em;
    background: rgba(40,40,40,.75);
    text-align: center;
    border-radius: 5px;
    color: #fff;
    line-height: 5.6em;
    display: none;
}
.result-name-size{
    font-size: 16px;
    padding: 0 20px;
}
.item-width{
    width: 90%;
    float: left;
    white-space:nowrap;
    overflow:hidden;
    line-height: 35px;
    text-overflow:ellipsis;
    font-size: 18px;
}
.bd-y{
    height: 100%;
    overflow-y: scroll;
    margin-bottom: 30px;
}
.employee_lis{
    padding: 10px 0 10px 26px;
}
.border-right-img-mall{
    height: 82px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 16px;
}
.size-new{
    font-size: 14px;
    color: #999;
    width: 220px;
}
.gray-color{
    color: #ccc;
}
.zhang{
    position: absolute;
    z-index: 10000;
    width: 44%;
    top: 145px;
    left: 145px;
    display: none;
}
.overflow-name{
    width: 80%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.size-width{
    width:70%
}
.police-header-img{
    width: 40px;
    height: 40px;
    float: left;
    background-size: cover;
    border-radius: 60px;
    line-height: 60px;
    text-align: center;
    font: 16px/58px "微软雅黑" ;
    color: #FFFFFF;
    margin: 10px 10px 0 0;
}
.head-name{
    float: left;
}
.radius{
    border-radius: 5px;
}
.weui-grid__icon{
    width: 36px;
    height: 36px;
}
.sort-box{
    min-height: 40px;
}
.area-box .sort{
    height: 40px;
}
.check-border-list{
    height: 40px;
    line-height:60px;
    border-bottom:1px solid #eee;
}
.head-title{
    height: 24px;
    background: #e8e8e8;
    font-size: 14px;
    line-height: 24px;
    font-family: '微软雅黑';
    color:#9a9a9a;
    padding: 0  20px;
}
.head-title-border{
    border: none;
}
.label-width{
    width: 140px;
}
.details{
    font-size: 18px;
}
.place-top{
    width:70%
}
.none-flex{
    display: flex;
}
.search-box{
    width: 100%;
    display: none;
    height: auto;
    border-top:none ;
    position:absolute;
    z-index: 9999;
    .search-new{
        margin: 0 10px;
        border: 1px solid #EEEEEE;
        border-top:none;
        padding: 0 15px;
        height: 30px;
        line-height: 30px;
        background: #FFFFFF;
    }
    .gray-ground{
        background: #EEEEEE;
    }
}
.letter{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    line-height: 80px;
    background: rgba(100,100,100,0.8);
    position: fixed;
    left: 50%;
    top: 40%;
    margin:-40px 0px 0px -40px;
    z-index: 99;
    display: none;
}
.weui-search-bar{
    font-family: '微软雅黑';
    .weui-search-bar__input{
        font-family: '微软雅黑';
    }
    .weui-search-bar__label{
        font-family: '微软雅黑';
        height: 26px;
        line-height: 26px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
.weui-loadmore{
    width: 65%;
    height: 50px;
    margin: 30px auto 0;
    line-height: 1.6em;
    font-size: 14px;
    text-align: center;
}
.weui-loadmore-load{
    width: 65%;
    height: 30px;
    margin: 30px auto 0;
    line-height: 1.6em;
    font-size: 14px;
    text-align: center;
}
.ban{
    color: #CCCCCC;
}
.fire-header{
    font-family: 微软雅黑;
    color: #fff;
    font-size: 18px;
    height: 85px;
    background: #ff5a54;
    padding: 0 10px;
}
.fire-head-name{
    height: 60px;
    line-height: 60px;
}
.fire-header-left{
    float: left;
}
.fire-header-right{
    float: right;
    font-size: 16px;
    margin-top: 15px;
}
.white-position{
    width: 86%;
    height: 75px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: -2px 0 0 #faeded,
                0 0 0 #ffe1e0,
                0 2px 15px #ffe1e0,
                2px 0 0 #fbf6f6;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    left:7%;
}
.choice-img{
    width: 22px;
    margin-top: 2px
}
.fire-num-box{
    width: 33%;
    float: left;
    border-right: 1px solid #E5E5E5;
    height: 45px;
    margin: 10px 0 8px;
    outline: none;
}
.fire-num-box-border{
    border:none;
    outline: none;
}
.num-center{
    text-align: center;
    color: #999999;
    dt{
        font-size: 30px;
        line-height: 30px;
        font-family: 黑体;
    }
    dd{
        font-size: 14px;
        font-family: "微软雅黑";
    }
}
.fire-list{
    margin-top: 58px;
}
.list-color{
    color: #ff5b55;
}
.tab-border{
    background-color: #FFFFFF;
    border-bottom: 2px solid #ff5a54;
    color: #ff5b55;
    border-radius: 2px;
}
.page-top{
    margin-top: 140px;
}
.filtrate{
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.94);
    position: absolute;
    top:0;
    left: 0;
    z-index: 9999;
    display: none;
    font-family: '微软雅黑';
    .filtrate-header{
        padding: 0 20px;
        height: 110px;
        background: #ff5a54;
        color: #FFFFFF;
        font-size: 16px;
        font-family: '微软雅黑';
        .fire-header-left-top{
            float: left;
            margin-top: 15px;
        }
    }
    .classification-box,.area-box{
        border: none;
        margin: 0;
        background: transparent;
    }
    .classification-box{
        min-height: 100px;
        .classification{
            height: 60px;
        }
    }
    .area-box{
        min-height: 100px;
        .area{
            height: 30px;
        }
        .area-police{
            height: 60px;
        }
    }
    .choice-after {
        border: 1px dashed #ff5a54;
        border-radius: 5px;
        color: #ff5a54;
        background: transparent;
    }
    .cover-blue{
        color:#999 ;
        display: block;
        font-weight:700;
    }
    .choice-title{
        color:#ff5a54 ;
        font-weight: 900;
    }
    .imported-left{
        color: #ff5a54;
        width: 15%;
        text-align: center;
        margin: 0 0 0 20px;
    }
    .btn-bg{
        background: #ff5a54;
        width: 65%;
        height: 46px;
        line-height: 46px;
        margin: 0 20px 0 0;
        &:active{
            background: #e7514b;
        }
    }
}
.input-border{
    height: 40px;
    background: #fff;
    width: 100%;
    margin-top: 14px;
    float: left;
    border-radius: 20px;
    .weui-search-bar__input{
        font-size: 16px;
        margin: 6px 0 0 5px;
    }
    .weui-icon-search{
        font-size: 16px;
        margin-top: 6px;
    }
    .weui-icon-clear{
        margin-top: 6px;
    }
}
.filtrate-y{
    overflow-y: scroll;
    height: 70%;
}
.nochecked-header{
    height: 56px;
    background: #ff5a54;
    line-height: 56px;
    font-family: '微软雅黑';
    color:#FFFFFF;
    font-size:20px;
}

.nochecked-y,.detail-y{
    font-family: '微软雅黑';
    overflow-y: scroll;
    height: 78%;
    .cell-border{
        padding: 14px 0;
    }
    //.weui-label{
    //    line-height: 50px;
    //}
    .cell-border{
        margin: 0 20px;
        border-bottom: 1px solid #eee;
    }
    .weui-uploader__input-box{
        float: left;
        background: #efefef;
        .photo{
            width: 25px;
            height: 25px;
            margin: 20%;
        }
    }
    .weui-uploader__input-box {
        position: relative;
        margin: auto;
        width: 40px;
        height: 40px;
        border:none;
    }
    .weui-uploader__file{
        float:left;
        width: 40px;
        height: 40px;
        //margin-left: 9px;
        //margin-right: 0;
    }

}
.box-orange{
    background: #ff5a54;
    &:active{
        background: #e7514b;
    }
}
.fire-company-name{
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-family: '微软雅黑';
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
.position-list{
    width: 84%;
    margin-left: 8%;
    height:80%;
    //overflow-y: scroll;
    box-shadow: -2px 0 0 #faeded,
    0 0 0 #fff,
    0 2px 18px #ffe1e0,
    2px 0 0 #fbf6f6;
    position: absolute;
    top: 50px;
    left: 0;
    background: #FFFFFF;
    border-radius: 10px;
}
.pink-y{
    height: 92%;
    overflow-y: scroll;
}
.fire-checked{
    .fire-header{
        height: 100px;
    }
}
.pink{
    background: #ffeeee;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #ff5c55;
    padding: 0 10px;
    z-index: 999;
    position: relative;
}
.pink-first{
    border-radius: 10px 10px 0 0;
}
.time-list{
    height: 54px;
    background: #FFFFFF;
    line-height: 54px;
    padding: 0 10px 0 40px;
    color: #444444;
    position: relative;
    font-family: '黑体';
    font-size: 18px;
}
.time-list-color{
    background: #f8f8f8;
}
.orange-button{
    width: 84%;
    height: 46px;
    line-height: 46px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "微软雅黑";
    border:none;
    background: #ff5a54;
    position: absolute;
    bottom: 2%;
    left: 8%;
    border-radius: 5px;
    &:active{
        background: #e7514b;
    }
}
.img-list{
    height:56px;
    position: absolute;
    left: 15px;
    top: 18px;
    z-index: 10;
}
.fire-list-head{
    .fire-header{
        height: 60px;
    }
}
.fire-img-list{
    width: 40px;
    height: 40px;
    margin-right: 9px;
}
.img-detail{
    float:left;
    cursor: pointer;
    li{
        float: left;
    }
}
.fire-nocheck-title{
    padding: 0 20px;
    height: 40px;
    line-height: 60px;
    font-family: '微软雅黑';
}
.detail-y{
    height: 90%;
}
.more-img{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    background: rgba(0,0,0,0.4);
    margin: 0 9px 5px 0;
}
.img-box-height{
    height: 76px;
    overflow: hidden;
}
.img-book-height{
    height: 76px;
    overflow: hidden;
}
.select-border{
    background: #ff5a54;
    color:#FFFFFF;
    font-size: 18px;
    font-family: '微软雅黑';
    outline:none;
    border:none;
    margin-top: 15px;
    width: auto;
    option{
        background-color:#fff;
        color:#333;
        text-align: center;
    }
}
.leader-fire{
    .fire-header{
        height: 110px;
    }
    .white-position{
        height: 140px;
    }
    .undone-num{
        width: 45%;
        height: 60px;
        float: left;
        margin-top: 10px;
        border-top: 1px solid #eee;
        margin-left: 5%;
        padding-top: 7px;
        dt{
            color:#ff5a54;
            line-height: 30px;
        }
    }
    .done-num{
        width: 45%;
        height: 60px;
        float: left;
        margin-top: 10px;
        padding-top: 7px;
        border-top: 1px solid #eee;
        margin-right: 5%;
        dl{
            border-left: 1px solid #EEEEEE;
            height: 45px;
        }
        dt{
            color:#666;
            line-height: 30px;
        }
    }
    .catalog{
        height: 20px;
        margin-top: 105px;
        width: 92%;
        margin-left: 5%;
        .cata{
            margin-left: 40px;
            width: 83%;
            padding-left: 10px;
            float: left;
        }
        div{
            float: left;
            color: #999;
            font-family: '微软雅黑';
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            width: 24%;
            text-align: center;
        }
        .area-width{
            width: 22%;
        }
        .imported-width{
            width: 30%;
        }
    }
}
.fire-name-list{
    height: 40px;
    width: 92%;
    margin: 2% 5%;
    .header-img{
        margin: 5px 0;
        float: left;
    }
    .list-name{
        width: 83%;
        height: 50px;
        line-height: 50px;
        float: left;
        padding-left: 10px;
        border-bottom: 1px solid #EEEEEE;
        div{
            text-align: center;
        }
        .police-name{
            color: #333;
            font-family: '微软雅黑';
            float: left;
            width: 22%;
        }
        .imported-number{
            color: #999;
            float: left;
            width: 30%;
        }
        .undone-number{
            color: #ff5a54;
            float: left;
            width: 24%;
        }
        .done-number{
            color: #999;
            float: left;
            width: 24%;
        }
    }
}
.color-orange{
    color: #ff5a54;
}
.empty-box-fire{
    height: 210px;
    width: 210px;
    margin: 15px auto 70px;
}
.title{
    float: left;
    width: 100px;
    padding:0;
    line-height:25px;
}
.area-box .area-bottom{
    padding-bottom: 40px;
}
.fire-itemize-y{
    overflow-y: scroll;
    height: 83%;
}
.select{
    font-size:12px;
    float: left;
    line-height:26px;
    margin-right: 2px;
}
.select-box{
    position: relative;
}
.opation-box{
    width: 75px;
    height: auto;
    position: absolute;
    z-index: 999;
    top: 45px;
    background: #FFFFFF;
    color: #ff5a54;
    box-shadow: 0 0 8px #ddd;
    li{
        text-align: center;
        width: 75px;
        user-select: none;
        &:hover{
            background: #ff5a54;
            color: #fff;
        }
    }
}
.select-width{
    width: 61px;
    text-align: center;
}
.done-detail-head{
    padding-left: 20px;
}
.pack-up{
    font-size: 12px;
}
.change-news{
    width: 45px;
    border-radius: 50px;
    position:absolute;
    top:70%;
    right:15px;
    z-index: 999;
    box-shadow: #999 0px 0px 10px;
}
.input-change{
    width: 95%;
    min-height: 22px;
    height: auto;
    line-height: 22px;
    font-size: 16px;
    font-family: '微软雅黑';
    outline: none;
    border: none;
    text-align: right;
}
.weui-actionsheet__menu {
    background-color: #FFFFFF;
    height: 193px;
    overflow-y: scroll;
}
.weui-actionsheet__menu-height{
    height: 96px;
}
.td-style{
    font-family: '微软雅黑';
    width: 90%;
    height:50px;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    line-height: 50px;
    .td-name{
        float: left;
        margin: 0 10px;
        width: 65px;
    }
    input{
        font-family: '微软雅黑';
        font-size: 16px;
        border:none;
        outline:none;
        margin-left: 10px;
        float: left;
        line-height:50px;
        width:56%
    }
}
.td-top{
    margin-top: 15px;
}
.page-alert{
    width: 100%;
    height:100%;
    background: rgba(255,255,255,1);
    position: absolute;
    top:0;
    left:0;
}
.add-line{
    height: 70px;
    line-height: 50px;
    font-size: 16px;
    //color: #55a3e7;
    font-weight: 900;
    font-family: '微软雅黑';
    z-index: 1000;
}
.add{
    float: left;
    width: 14px;
    height: 14px;
    font-weight: 900;
    font-size: 14px;
    color: #55a3e7;
    border: 1px solid #55a3e7;
    border-radius: 10px;
    text-align: center;
    line-height: 13px;
    margin: 16px 8px 0 35px;
}
.lt-img{
    width: 16px;
    float: right;
    margin:16px 36px 0 ;
}
.icon-top{
    margin-top: 6px;
}
.blank{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}
.star-red{
    color: red;
    float: right;
    height: 50px;
    line-height: 56px;
}
.sex{
    outline: none;
}
.red-star{
    color:red;
    position: absolute;
    top: 20px;
    right: -6px;
    height: 28px;
}
.not-null{
    color:red;
    padding: 0 33px;
    font-size: 12px;
    font-family: '微软雅黑';
    position: absolute;
    bottom:76px;
    width:100%;
    background: #fff;
}
.delete-box{
    width: 101px;
    text-align: center;
    background: #ff5a54;
    color:#fff;
    height: 78px;
    line-height: 78px;
    position:absolute;
    top: 0px;
    right:-101px;
    overflow-x: hidden;
    cursor: pointer;
    .delete{
        width: 50px;
        float: left;
        border-right:1px solid #FFFFFF;
    }
    .logout{
        width: 50px;
        float: left;
    }
}
.label-relative{
    position: relative;
}
.icon-delete{
    width: 25px;
    position: absolute;
    right: 10px;
    top:27px;
    cursor:pointer;
}
.link-delete{
    background: #ff5a54;
    color: #FFFFFF;
    width: 50px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-family: '微软雅黑';
    position: absolute;
    top:0;
    right:-50px;
    font-size: 14px;
}
.link-news-box{
    position: relative;
}
.none-style{
    width: 10%;
    color: #55A3E7;
    text-align: center;
}
.bg-style{
    width: 65%;
}
.font-color{
    color: #999;
}
